apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app-homolog
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:araujofredson/argocd-k8s.git
    targetRevision: main
    path: apps/homolog
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true